[user]
	name = kirin0198
	email = kirin.cero.07@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
	chd = checkout deverop
  chm = checkout master
	ch = checkout
	cm = commit
	ps = push
	pl = pull
	ad = add
	br = branch
	bra = branch -a
	brd = branch -D
[push]
	default = current
